@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #2E2E2E;
}

.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}
.darken-grey-text {
    color: #2E2E2E;
}
.active{
  background-color: #009f3c;
}

#send-Problem{

  border:solid 3px white;
  transition:  background-color 1s ease-out;
  transition:  color 1s ease-out;

}
#send-Problem :hover{

  border:solid 0px white;
  background-color: #009f3c;
  color: white;
}
#send-Problem > a{

  padding-left: 10px;
  padding-right: 10px;

}
