<ng-container *ngIf="info.isLogged; then thenTemplate; else elseTemplate"></ng-container>
<ng-template #thenTemplate>
  <nav class="navbar navbar-expand-lg navbar-dark cyan">
    <a class="navbar-brand font-bold" href="#"><img src="./assets/images/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
      aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" > New Feed </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> Dashboard</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Register</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li id="send-Problem" class="nav-item ">
          <a class="nav-link" href="#">Send Problem</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"> {{info.username}} </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
              <a class="dropdown-item" href="#">My account</a>
              <a class="dropdown-item" (click)="changeValue()">Log out</a>
            </div>
          </li>
      </ul>
    </div>
  </nav>
</ng-template>
<ng-template #elseTemplate>
  <nav class="navbar navbar-expand-lg navbar-dark cyan">
    <a class="navbar-brand font-bold" href="#"><img src="./assets/images/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
      aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent-4">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" [routerLink]="[ '/home']"> Home <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/login']" >Sign In<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"> Blog</a>
          </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">Contact<span class="sr-only">(current)</span></a>
        </li>
        <li id="send-Problem" class="nav-item ">
          <a class="nav-link" href="#">Send Problem<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
</ng-template>
