<div class="shadow-lg text-center container my-5 py-5">
  <form *ngIf="!isLogged()" #loginForm="ngForm" class="form" (ngSubmit)="login()">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text" name="username" class="form-control" placeholder="Email address" required
      [(ngModel)]="model.username">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password" required
      [(ngModel)]="model.password">
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.valid">Sign in</button>
    <div class="mt-4 text-muted">you dont have an account? <a [routerLink]="['/register']">Register Now</a></div>
  </form>
  <div *ngIf="isLogged()" class="">
    <div class="card-body">
      <blockquote class="blockquote">
        <h1>Logout</h1>

        <footer class="card-blockquote">
          <button class="btn btn-lg btn-danger mt-5" (click)="logout()">
            {{getName()}}
          </button>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
